<%- include('header'); -%>

<%- include('navigation'); -%>

  
    <div class="d-flex flex-column min-vh-100">
    <!-- content Div -->
    <div class="content p-2 flex-grow-1">
        
        <!-- Upper text div -->
        <div class="p-4">
            <!-- Header -->
            <div>
                <h1>About Ollie's Adventures</h1>
            </div>
            <!-- Content -->
            <div>
                <p>
                    We here at Ollie's Adventures aim to curate safe and high-quality holidays for people and families of all ages so that everybody has the opporutnity to experience the majesty of the world conviently and at an affordable price.
                    We offer packages to a wide range of locations, we have sorted our popular destinations by continent. Take a look and get started on your next great adventure!
                    <br>
                    <br>
                    We have been operating since 1999 and have serviced <strong>10000+</strong> happy customer.
                    <br>
                    <br>
                    Please take a look at our <a href="/">home page</a> for all our offerings as well as our <a href="/deals">deals</a> for last minute customers.
                    If you have any additional questions or queries please don't hesitate to <a href="/contact">contact us</a>.
                </p>
            </div>
        </div>
    </div>

<%- include('footer'); -%>