<%- include('header'); -%>

<%- include('navigation'); -%>
  

    <!-- content Div -->
    <div class="p-2">
        
        <!-- Upper text div -->
        <div class="p-4">
            <!-- Header -->
            <div>
                <h1>Recent News</h1>
            </div>
            <!-- Content -->
            <div>
                <p>
                    Please look below our new deals and for recent news regarding our travel destinations.
                </p>
            </div>
        </div>

        <!-- News cards -->
        <div class="p-4">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 d-flex flex-column">
                                <!-- Source smart traveller -->
                                <p class="mb-0">Following the recent 7.7 magnitude earthquake in the region, there's ongoing assessments of the structural integrity of buildings across Thailand. Check with your accommodation provider and follow the advice of technical experts and local authorities. Avoid affected areas, follow the advice of the local authorities, including any evacuation orders. Monitor local media for updates.</p>
                                <p  class="mt-auto align-self-end"><strong>Source: <a href="https://www.smartraveller.gov.au/destinations/asia/thailand">Smart Traveller</a></strong></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-between">
                                <p>We have recently put our <strong>Tanzania</strong> trip for the <strong>21-June</strong> on sale at <strong>$2499</strong>. Order Quick.</em></p>
                                <strong><a class="ml-auto" href="/trips/tanzania">More Info</a></strong>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 d-flex flex-column">
                                <p class="mb-0">Following the recent 7.7 magnitude earthquake in the region, there's ongoing assessments of the structural integrity of buildings across Thailand. Check with your accommodation provider and follow the advice of technical experts and local authorities. Avoid affected areas, follow the advice of the local authorities, including any evacuation orders. Monitor local media for updates.</p>
                                <p class="mt-auto align-self-end"><strong>Source: <a href="https://www.smartraveller.gov.au/destinations/asia/thailand">Smart Traveller</a></strong></p>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>    
            </div>
        </div> 

        <!-- More travel news  -->
        <div class="p-4">
            <div>
                <h4><u>For more info please visit</u>:</h4>
            </div>
            <div>
                <ul class="list-unstyled fs-4 mt-3">
                    <li><a href="https://www.smartraveller.gov.au/">Smart Traveller</a></li>
                    <li><a href="https://www.dfat.gov.au/">Department of Foreign Affairs</a></li>  
                    <li><a href="https://www.abc.net.au/">ABC</a></li>    
                </ul>
            </div>
        </div>

    
    
<%- include('footer'); -%>