<%- include('../header'); -%>

<%- include('../navigation'); -%>
  
    <!-- Country Summary -->
    <div class="container text-center justify-content-center mt-2 mb-2 p-3">
        <div class="row">
            <div class="col-12 col-lg-8 text-muted">
                <h2 class="text-dark">Egypt</h2>
                <p class="card-text d-none d-md-block">An enigmatic treasure trove of almost unimaginable archaeological and cultural riches, it's hard not to think of Egypt without imagining the Sphinx, the pyramids at Giza, Luxor, the Valley of the Kings and the Nile. As well as being the world's largest open-air museum, Egypt also offers a slew of luxurious Red Sea resorts, many within reach of spectacular snorkeling, diving and windsurfing. Whether you see it by riverboat, from camelback or from just above the coral, Egypt's sights are unforgettable.</p>
            </div>
            <div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-center">
                <img src="/static/images/africa/egypt/egypt_sum.jpeg" class="img-fluid rounded" alt="Pitcture of Egypt">
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <!-- Image Carousel -->
                <div id="carouselPictures" class="carousel slide carousel-fade mt-3 mb-3" style="height: 500px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner" style="height: 100%; overflow: hidden; border-radius: 25px;">
                        <div class="carousel-item active" style="height: 100%;">
                            <img src="/static/images/africa/egypt/egypt.jpg" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of the Sphinx in Egypt">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>The Sphinx</h5>
                                <p class="d-none d-md-block">Explore Egypt: Admire the Sphinx who has lay dormant for over 2000 years.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/egypt/pyramids.jpg" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of the Pyramids in Egypt">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Pyramids of Giza</h5>
                                <p class="d-none d-md-block">Explore Egypt: Gaze upon the Pyramids of Giza. One of the 7 ancient wonders of the World.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/egypt/valleyOfKings.jpg" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of the Valley of Kings in Egypt">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Valley of Kings</h5>
                                <p class="d-none d-md-block">Explore Egypt: Enter the Valley of Kings where many of the old Pharoahs still reside.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/egypt/nile.jpg" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of the Nile in Egypt">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>The Nile River</h5>
                                <p class="d-none d-md-block">Explore Egypt: Cruise the Nile, the longest and river in the world.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPictures" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span style="text-shadow: 1px 1px 1px black">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPictures" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span style="text-shadow: 1px 1px 1px black">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Different country info -->
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-4">
                <h5><u>Who for</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Ages: 18-35</li>
                        <li>Group size: 10-20</li>
                        <li>Accomodation: Hotels</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h5><u>Main Destinations</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Cairo</li>
                        <li>Giza</li>
                        <li>Luxor</li>
                        <li>Red Sea</li>
                        <li>Aswan</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h5><u>Tour info</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Cost: $2499</li>
                        <li>Length: 14 Days</li>
                        <li>Start: 05-July</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Different country quotes -->
    <div id="carouselQuotes" class="carousel slide mt-3 mb-3 p-3 align-items-center" style="height: 200px;" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 200px;">
            <!-- Slide 1 : Default -->
            <div class="carousel-item active" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/egypt/egyptTourist1.jpg" class="img-fluid rounded" style="object-fit: fill; height: 160p;" alt="Picture of tourist David Carr">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"I've thought about Ancient Egypt ever since I learned about them when I was a kid. To see the great pyramids in person broguht a tear to my eye."</em>
                        <div> -David Carr</div>
                    </div>   
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/egypt/egyptTourist2.avif" class="img-fluid rounded" style="object-fit: fill; height: 160p;" alt="Picture of tourist Joshua Locke">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"I looked upon the ancient Pharoahs in the Valley of Kings. They may have ruled a great civilisation, yet they lay there dead while I remain. To gaze upon their homes was a sight I won't soon forget."</em>
                        <div> -Joshua Locke</div>
                    </div> 
                  
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/egypt/egyptTourist3.jpg" class="img-fluid rounded" style="object-fit: fill; height: 160p;" alt="Picture of tourist Georgia Coolidge">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"Egypt might be the oldest country of them all. But despite its age it still shines brightly on all who travel throguh its ancient sites and modern cities."</em>
                        <div> -Georgia Coolidge</div>
                    </div>   
                </div>
            </div>
            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselQuotes" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span style="text-shadow: 2px 2px 2px black">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselQuotes" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span style="text-shadow: 2px 2px 2px black">Next</span>
            </button>
        </div>
    </div>

<%- include('../footer'); -%>