<%- include('../header'); -%>

<%- include('../navigation'); -%>

    <!-- Country Summary -->
    <div class="container text-center justify-content-center mt-2 mb-2 p-3">
        <div class="row">
            <div class="col-12 col-lg-8 text-muted">
                <h2 class="text-dark">Morocco</h2>
                <p class="card-text d-none d-md-block">At the crossroads of Europe and Africa, surrounded by Mediterranean waters and opening onto the vastness of the Atlantic ocean, Morocco is a wonderland for nature lovers.
                    It is the "land of the distant sunset", a destination rich in contrasts, with a two thousand year-old history, that will stimulate your curiosity. In these lands where several dynasties succeeded one another, you'll discover remains of the greatest Mediterranean civilizations. In the north of the country, the Roman ruins of Volubilis stand.
                    In Rabat, pieces of architecture are evidence of the ancient French presence. Everywhere else, there are several treasures tracing the Muslim civilizations : the Kasbah of the Oudayas, the green expanses of the Menara gardens.
                    Between sea and mountains, desert sands and green plains, eye-popping panoramas are displayed to shower you with tranquility and natural beauty; enchanting vivid pictures with the richness of a brawling culture transport you into a most raw nature.</p>
            </div>
            <div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-center">
                <img src="/static/images/africa/morocco/morocco.jpg" class="img-fluid rounded" alt="Picture of Morocco">
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <!-- Image Carousel -->
                <div id="carouselPictures" class="carousel slide carousel-fade mt-3 mb-3" style="height: 500px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner" style="height: 100%; overflow: hidden; border-radius: 25px;">
                        <div class="carousel-item active" style="height: 100%;">
                            <img src="/static/images/africa/morocco/morocco1.avif" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of Atlas Mountains in Morocco">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Atlas Mountains</h5>
                                <p class="d-none d-md-block">Explore Morocco: The Atlas Mountains are some of the world least visited peaks.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/morocco/morocco2.jpg" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of Sahara Desert in Morocco">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Sahara Desert</h5>
                                <p class="d-none d-md-block">Explore Morocco: The Sahara Desert also seems endless.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/morocco/morocco3.avif" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of Ait Ben Haddou">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Aït Ben Haddou</h5>
                                <p class="d-none d-md-block">Explore Morocco: Aït Ben Haddou a World Heritage Site and well-preserved 11th century city.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/morocco/morocco4.avif" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of Fez">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Fez</h5>
                                <p class="d-none d-md-block">Explore Morocco: The city of Fez is the oldest in Morocco.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPictures" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span style="text-shadow: 1px 1px 1px black">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPictures" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span style="text-shadow: 1px 1px 1px black">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Different country info -->
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-4">
                <h5><u>Who for</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Ages: 18-35</li>
                        <li>Group size: 10-20</li>
                        <li>Accomodation: Hotels</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h5><u>Main Destinations</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Casablance</li>
                        <li>Fez</li>
                        <li>Merzouga</li>
                        <li>High Atlas Mountains</li>
                        <li>Marrakech</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h5><u>Tour info</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Cost: $2499</li>
                        <li>Length: 14 Days</li>
                        <li>Start: 05-July</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Different country quotes -->
    <div id="carouselQuotes" class="carousel slide mt-3 mb-3 p-3 align-items-center" style="height: 200px;" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 200px;">
            <!-- Slide 1 : Default -->
            <div class="carousel-item active" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/morocco/morocco_tourist.jpg" class="img-fluid rounded" style="object-fit: fill; height: 160px;" alt="Picture of tourist jane Low">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"Morocco is the most soulful and beautiful country I've ever experienced — from the heights of the Atlas mountains to the cities of Casablanca and Fez, there's so much to see and do!"</em>
                        <div> -Jane Low</div>
                    </div>   
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/morocco/morocco-tourist2.webp" class="img-fluid rounded" style="object-fit: fill; height: 160p;" alt="Picture of tourist Alice Palmer">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"I didn't know what to expect when I came to Morocco, but I found the most beuatiful country and the most beautiful people."</em>
                        <div> -Alice Palmer</div>
                    </div> 
                  
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/morocco/morocco-tourist3.jpg" class="img-fluid rounded" style="object-fit: fill; height: 160p;" alt="Picture of tourist Casey Lynn">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"Morocco offers so much, from the beautiful waves at the Atlantic Coat to the peaks of the Sahara to the even greater peaks of the Atlas Mountains, Morocco has it all."</em>
                        <div> -Casey Lynn</div>
                    </div>   
                </div>
            </div>
            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselQuotes" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span style="text-shadow: 2px 2px 2px black">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselQuotes" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span style="text-shadow: 2px 2px 2px black">Next</span>
            </button>
        </div>
    </div>


<%- include('../footer'); -%>