<%- include('../header'); -%>

<%- include('../navigation'); -%>


    <!-- Country Summary -->
    <div class="container text-center justify-content-center mt-2 mb-2 p-3">
        <div class="row">
            <div class="col-12 col-lg-8 text-muted">
                <h2 class="text-dark">Tanzania</h2>
                <p class="card-text d-none d-md-block">
                    Though many people's first introduction to Tanzania is gazing open-mouthed at footage of huge numbers of wildebeest and zebra moving through Serengeti National Park, there is so much more to see and do in this beautiful nation.
                    There are several national parks that are scattered like jewels across the country and they boast the largest concentration of wildlife in Africa. Tanzania's coastline is dotted with stunning beaches and its paradise islands are renowned for their beauty, lapped by the Indian Ocean and the teeming wildlife underneath the waves.
                    In the bustling cities, the buildings tell stories of battles and conquest, depression and victory. It would take a lifetime to see everything on offer but start your to-do list now with these 12 unmissable experiences in Tanzania.
                </p>
            </div>
            <div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-center">
                <img src="/static/images/africa/tanzania/tanzania.jpeg" class="img-fluid rounded" alt="Picture of Tanzania">
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <!-- Image Carousel -->
                <div id="carouselPictures" class="carousel slide carousel-fade mt-3 mb-3" style="height: 500px;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner" style="height: 100%; overflow: hidden; border-radius: 25px;">
                        <div class="carousel-item active" style="height: 100%;">
                            <img src="/static/images/africa/tanzania/mtKilimanjaro.webp" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of Mt Kilimajaro in Tanzania">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Mount Kilimanjaro</h5>
                                <p class="d-none d-md-block">Explore Tanzania: Mount Kilimanjaro is the tallest mountain in Africa.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/tanzania/serengetti.webp" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of the Serengeti in Tanzania">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>The Serengeti</h5>
                                <p class="d-none d-md-block">Explore Tanzania: The Serengeti is home to some of the most exotic creatures in the world.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/tanzania/theRockZanzibar.avif" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of the rock in Tanzania">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Zanzibar</h5>
                                <p class="d-none d-md-block">Explore Tanzania: Explore the archipelago of Zanzibar. Including having dinner at the Rock.</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 100%;">
                            <img src="/static/images/africa/tanzania/OlDoinyoLengai.avif" class="d-block w-100" style="object-fit: cover; height: 100%;" alt="Picture of the Ol Doinyo Lengai in Tanzania">
                            <div class="carousel-caption" style="text-shadow: 1px 1px 1px black">
                                <h5>Ol Doinyo Lengai</h5>
                                <p class="d-none d-md-block">Explore Tanzania: Walk up an active volano and explore the great flora and flauna that populates the area.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPictures" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span style="text-shadow: 1px 1px 1px black">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPictures" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span style="text-shadow: 1px 1px 1px black">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Different country info -->
    <div class="container text-center mt-4">
        <div class="row">
            <div class="col-4">
                <h5><u>Who for</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Ages: 18-35</li>
                        <li>Group size: 10-20</li>
                        <li>Accomodation: Hotels</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h5><u>Main Destinations</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Dar es Salaam</li>
                        <li>Ol Doinyo Lengai</li>
                        <li>Serengeti</li>
                        <li>Ngorongoro Crater</li>
                        <li>Mount Kilimanjaro</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <h5><u>Tour info</u>:</h5>
                <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li>Cost: $2499</li>
                        <li>Length: 14 Days</li>
                        <li>Start: 05-July</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Different country quotes -->
    <div id="carouselQuotes" class="carousel slide mt-3 mb-3 p-3 align-items-center" style="height: 200px;" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 200px;">
            <!-- Slide 1 : Default -->
            <div class="carousel-item active" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/tanzania/kilimanjaroTourist.jpg" class="img-fluid rounded" style="object-fit: fill; height: 160px;" alt="Picture of tourist Michael Blake">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"Climbing Mount Kilimajaro might have been the hardest thing i've ever done. But its definetly the best thing ive ever done."</em>
                        <div> -Michael Blake</div>
                    </div>   
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/tanzania/serengetiTourist.jpg" class="img-fluid rounded" style="object-fit: fill; height: 160px;" alt="Picture of tourist Edward Yeats">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"Seeing the majest of these great Elephants up close is something I won't soon forget. 5/5 Experience."</em>
                        <div> -Edward Yeats</div>
                    </div> 
                  
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item" style="height: 200px;">
                <div class="row align-items-center h-100">      
                    <!-- Image column -->
                    <div class="col-md-3 d-none d-md-block">
                        <img src="/static/images/africa/tanzania/serengetiTourist2.jpg" class="img-fluid rounded" style="object-fit: fill; height: 160px;" alt="Picture of tourist David Donne">
                    </div>
                    
                    <!-- Text column -->
                    <div class="col-md-9 text-secondary text-center">
                        <em>"You couldn't ask for more professional guides. With their help we saw every animal we wanted to see and kept at a safe distance while we watched."</em>
                        <div> -David Donne</div>
                    </div>   
                </div>
            </div>
            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselQuotes" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span style="text-shadow: 2px 2px 2px black">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselQuotes" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span style="text-shadow: 2px 2px 2px black">Next</span>
            </button>
        </div>
    </div>


<%- include('../footer'); -%>