<%- include('header'); -%>

<%- include('navigation'); -%>
  

    <!-- Content wrapper -->
    <!-- <div class="content-wrapper"> -->

        <!-- content Div -->
        <div class="content p-2">
            
            <!-- Upper text div -->
            <div class="p-4">
                <!-- Header -->
                <div>
                    <h1>Contact Us</h1>
                </div>
                <!-- Content -->
                <div>
                    <p>
                        If you have any problems please feel free to reach out. We aim to get back to you in 1-3 business days.
                    </p>
                </div>
            </div>

            <!-- Contact form -->
            <div class="p-4">
                <form action = "/submitEnquiry" method="post" id="enquiryForm" class="row g-3 needs-validation" novalidate>
                    
                    <div class="p-4 mb-4 bg-light rounded-3">
        
                        <h3 class="text-secondary">Contact Details</h3>
                        <br>
        
                        <!-- Every input is required so required keyword in input label -->
                        <!-- <div class="row g-3 mt-2"> -->
                        <div class="row g-3">
                            <!-- Above md it goes to 1 column from size 6 to size 12 i.e. whole bar -->
                            <div class="col-md-6">
                                <label for="firstname" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstname" name="firstname" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter your first name.</div>
                            </div>
        
                            <div class="col-md-6">
                                <label for="lastname" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter your Last name.</div>
                            </div>
                        </div>
        
                        <div class="row g-3 mt-2">
                            <!-- Email type so will always check for @ -->
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please add a valid email address.</div>
                            </div>
                            <!-- Pattern with regular expressions always checks if pattern is 10 digits -->
                            <div class="col-md-6">
                                <label for="inputMobile" class="form-label">Mobile</label>
                                <input type="text" class="form-control" id="inputMobile" name="inputMobile" placeholder="04xxxxxxxx" pattern="[0-9]{10}" required>
                                    <div class="valid-feedback">Looks good!</div>
                                    <div class="invalid-feedback">Add your mobile number. Must be 10 digits long.</div>
                            </div>
                        </div>


                        <div class="row g-3 mt-2">
                            <label for="inputEnquiry" class="form-label">Your Enquiry:</label>
                            <textarea class="form-control" id="userEnquiry" name ="userEnquiry" rows="10" required></textarea>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter your enquiry. Enquiry must be less than 500 characters.</div>         
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-secondary" type="reset">Reset</button>
                    </div>

                </form>
            </div>


            <!-- Our details: -->
            <div class="p-4">
                <div class="row">
                    <h2>You can also reach us at: </h2>
                    <ul><strong>Email: </strong>support@olliesadventures.com.au</ul>
                    <ul><strong>Phone: </strong>+61 449 999 999</ul>
                    <ul><strong>Address: </strong>221 Burwood Highway, Burwood, Victoria 3125</ul>
                    <ul><strong>Working Hours: </strong>9am - 5pm AEST</ul>
                </div>
            </div>
            
        </div>


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            const form = document.getElementById("enquiryForm");
            //const maxLength = 500;
            //const enquiry = document.getElementById("userEnquiry");
            

            //enquiry.addEventListener('input', function () {
            //    if (enquiry.value.length > maxLength) {
            //        enquiry.setCustomValidity(`Your enquiry must be 500 characters or fewer. Currently ${enquiry.value.length}.`);
            //    } else {
            //        enquiry.setCustomValidity('');
            //    }
            //enquiry.reportValidity();
            //});

            // Submit handler
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');
            });
        })();
    </script>

<%- include('footer'); -%>