<%- include('header'); -%>

<%- include('navigation'); -%>
  

    <!-- Content wrapper -->
    <!-- <div class="content-wrapper"> -->

        <!-- content Div -->
        <div class="content p-2">
            
            <!-- Upper text div -->
            <div class="p-4">
                <!-- Header -->
                <div>
                    <h1>List of all Customer Enquiries: For Staff Only</h1>
                </div>
                <!-- Content -->
                <div>
                    <p>Only Staff should be accessing this list, if you are not staff please leave.</p>
                </div>
            </div>

            
            
            <div class="p-4">
 
                <!-- Chech if enquiries is passed in and if length of enquiries is greater than 0 -->
                <% if (enquiries && enquiries.length > 0) { %>
                    <table class="table table-bordered mt-4">
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Enquiry</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% enquiries.forEach(function(enquiry) { %>
                        <tr>
                            <td><%= enquiry.Enquiry_ID %></td>
                            <td><%= enquiry.Name %></td>
                            <td><%= enquiry.Email %></td>
                            <td><%= enquiry.Phone_Number %></td>
                            <td><%= enquiry.Customer_Enquiry %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                    </table>
                <% } else { %>
                    <p>No enquiries found.</p>
                <% } %>

            </div>
            
        </div>


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            const form = document.getElementById("enquiryForm");
            const maxLength = 500;
            const enquiry = document.getElementById("userEnquiry");
            

            enquiry.addEventListener('input', function () {
                if (enquiry.value.length > maxLength) {
                    enquiry.setCustomValidity(`Your enquiry must be 500 characters or fewer. Currently ${enquiry.value.length}.`);
                } else {
                    enquiry.setCustomValidity('');
                }
            enquiry.reportValidity();
            });

            // Submit handler
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');
            });
        })();
    </script>

<%- include('footer'); -%>